@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.container {
  height: 100vw;
  padding: 20px;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  color: #171212;
}

.list-header{
  font-family: 'Lato', sans-serif;
  color: black;
  padding: 1%;
  margin-bottom: 10px;
}

.headline-primary {
  font-size: 48px;
  font-weight: 300;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.item {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.item > span {
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: 'Lato', sans-serif;
}

.item > span > a {
  color: #f50057;
}

.search-form {
  padding: 10px 0 20px 0;
  display: flex;
}


